footer {
    display: flex;
    justify-content: space-around;
    background-color: #e0e0e0;
    padding: 20px;
    font-size: 1.2em;
}


.footer-section h3 {
    margin-bottom: 10px;
    /* Afstand mellem overskrift og tekst */
    font-style: black italic;
}

p {
    line-height: 2;
    /* Øger linjeafstand */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}