footer {
    display: flex;
    justify-content: space-around;
    background-color: #e0e0e0;
    padding: 20px;
    font-size: 1.2em;
}

.footer-section h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    /* Black */
    font-style: italic;
    /* Italic */
    font-size: 22px;
    /* Justér efter behov */
}


.footer-section.kontakt p,
.footer-section.adresse p {
    line-height: 3.8;
    /* Øget linjeafstand i de to venstre kolonner */
    margin-top: 20px;
}

.kontakt p:nth-of-type(1) {
    margin-bottom: 30px;
}

.footer-section.aabningstider p {
    line-height: 1.4;
    /* Kompakt linjeafstand i højre kolonne */
    margin-bottom: 4px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}