footer {
    display: flex;
    justify-content: space-around;
    background-color: #e0e0e0;
    padding: 20px;
    font-size: 1.2em;
}

.footer-section.kontakt p,
.footer-section.adresse p {
    line-height: 2.5;
    /* Øget linjeafstand i de to venstre kolonner */
    margin-bottom: 30px;
}

.footer-section.aabningstider p {
    line-height: 1.4;
    /* Kompakt linjeafstand i højre kolonne */
    margin-bottom: 4px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}