header {
    border: 1px solid #000;
}

.top-bar {
    background-color: #5272f2;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    height: 60px;
}

.top-bar h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 2em;
    margin-left: 57px;
}

.search-cart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box {
    height: 24px;
    width: 120px;
    border: 1px solid #999;
    background-color: #ddd;
    padding: 4px;
    border-radius: 16px;
}

nav {
    background-color: #dcdcdc;
    /* lys grå baggrund */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* Fordeler menupunkterne jævnt */
    margin: 0;
    padding: 10px 0;
}

nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

nav li a:hover {
    text-decoration: underline;
}